* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: monserrat;
    background-color: rgb(250, 250, 255);
}

/* custom font */
@font-face {
    font-family: monserrat;
    src: url(./assets/Montserrat.ttf);
}

header {
    height: 30vh;
    background-color: rgb(36, 45, 59);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1 {
    margin-bottom: 13px;
}
#sub-title {
    font-weight: 300;
    font-style: italic;
}

div,
p {
    font-weight: 400;
}

/* main section */

.container {
    margin: 0 10%;
}

.box {
    width: 100%;
    height: fit-content;
    padding: 40px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.105);
}

.row {
    background-color: white;
    height: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.about {
    background-color: white;
    color: black;
    margin-top: 30px;
}

.education {
    background-color: rgba(171, 237, 255, 0.263);
}

.edrow,
.prow {
    width: 900px;
}

.skills {
    background-color: rgba(255, 243, 194, 0.66);
}
.skills h2 {
    font-weight: 700;
}

.srow {
    width: 750px;
    font-weight: 700 !important;
}

.projects {
    background-color: rgba(207, 180, 227, 0.432);
}

.contact {
    background-color: rgba(197, 245, 197, 0.902);
}

.crow {
    width: 750px;
}

/* footer */
footer {
    height: 10vh;
    background-color: rgb(36, 45, 59);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

/* Responsive ness */
@media (max-width: 1200px) {
    .row {
        width: 100%;
    }
}
